window {
    background-color: rgba(40, 42, 54, 0.9);
    font-family: "JetBrainsMono Nerd Font", monospace;
}

button {
    background-color: #44475a;
    border-radius: 12px;
    margin: 10px;
    padding: 20px;
    color: #f8f8f2;
    font-size: 18px;
    border: 2px solid #6272a4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
}

button:focus,
button:hover {
    background-color: #6272a4;
    border-color: #bd93f9;
    outline: none;
}

button:active {
    background-color: #bd93f9;
    color: #282a36;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
