[include]
path = ~/.gitconfig.local
path = ~/.config/gitalias.txt

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true
[core]
pager = delta --dark --plus-color="#012800" --minus-color="#340001"
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[alias]
ce = commit --allow-empty
[credential]
	helper = osxkeychain
[user]
	name = Shun Kakinoki
	email = shunkakinoki@gmail.com
	signingKey = 6AF2C7F7D56DDA1E3E5A3B97D4C6000717F20BBC
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
