[include]
path = ~/.gitconfig.local
path = ~/.config/gitalias.txt

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[alias]
  ce = commit --allow-empty
