TELEGRAM_BOT_TOKEN=__TELEGRAM_TOKEN__
WHATSAPP_ALLOWED_USERS=__WHATSAPP_ALLOW_FROM__
HERMES_GATEWAY_TOKEN=__GATEWAY_TOKEN__
CLIPROXY_API_KEY=__CLIPROXY_API_KEY__
VERCEL_TOKEN=__VERCEL_TOKEN__
VERCEL_TEAM_ID=__VERCEL_TEAM_ID__
