[Unit]
Description=Clean stale k3s containerd state
Documentation=https://k3s.io
After=k3s.service
Requisite=k3s.service

[Service]
Type=oneshot
ExecStart=@cleanupScript@
TimeoutStartSec=10min
Nice=10
IOSchedulingClass=idle
