[Unit]
Description=Check Kyber storage and CRI reliability
After=var-lib-rancher-k3s-agent-containerd.mount k3s.service

[Service]
Type=oneshot
ExecStart=@healthCheckScript@/bin/kyber-host-health
